* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: #181818;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}