.title {
    font-size: 55px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.red {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.yellow {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

.orange {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}

.sub-title {
    color: white;
}

.game-stat {
    font-family: "consolas";
    margin-bottom: 10px;
    font-weight: 800;
}


.ongoing {
    font-family: "Consolas";
    width: 20px;
    height: 10px;
    padding: 5px 10px;
    color: #b2ff80; /* lighter green, close to white */
    background: rgba(0, 255, 120, 0.08); /* same green transparency */
    border: 2px solid rgba(0, 255, 120, 0.6);
    border-radius: 12px;
    transition: all 0.2s ease;
    box-shadow: 0 0 8px rgba(0, 255, 120, 0.2);
}

.game-over {
    font-family: "Consolas";
    width: 20px;
    height: 10px;
    padding: 5px 10px;
    color: red;
    background: rgba(255, 0, 0, 0.08); /* red transparency */
    border: 2px solid rgba(255, 0, 0, 0.6);
    border-radius: 12px;
    transition: all 0.2s ease;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.2);
}